a{
  text-decoration: none;
}
.nav a{
  font-size: 20px;
  color: white;
  margin-right: 50px;
  text-align: center;
}
.icn a{
  font-size: 40px;
  color: white;
}
header{
  background-color: #85b6b1;
  padding: 1rem 0;
}
.all{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sweet-loading{
  display: "block";
  margin: "0 auto";
  border: "red";
}